certifi==2019.11.28
chardet==3.0.4
idna==2.8
ipaddress==1.0.23
mail-parser==3.11.0
requests==2.22.0
requests-toolbelt==0.9.1
selenium==3.141.0
simplejson==3.17.0
six==1.13.0
urllib3==1.26.5
yagmail==0.11.224
